$accent_green: #28ff23;
$accent_orange: #ff8b26;
$accent_blue: #3270f2;
$accent_red: #C02E13;
$black: #000000;

// owererite BS wariables
$blue: $accent_blue;
$red: $accent_red;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Noto Sans', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


