<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formMovie">
    <div class="form-group">
      <label for="mTitle">Title:</label>
      <div class="input-group">
        <input formControlName="Title" id="mTitle" class="form-control" placeholder="enter title" type="text">
      </div>
    </div>

    <div class="form-group">
      <label for="mYear">Year:</label>
      <div class="input-group">
        <input formControlName="Year" id="mYear" class="form-control" placeholder="enter Year" type="number">
      </div>
    </div>

    <div class="form-group">
      <label for="mRuntime">Runtime:</label>
      <div class="input-group">
        <input formControlName="Runtime" id="mRuntime" class="form-control" placeholder="enter Runtime" type="text">
      </div>
    </div>

    <div class="form-group">
      <label for="mGenre">Genre:</label>
      <div class="input-group">
        <input formControlName="Genre" id="mGenre" class="form-control" placeholder="enter Genre" type="text">
      </div>
    </div>

    <div class="form-group">
      <label for="mDirector">Director:</label>
      <div class="input-group">
        <input formControlName="Director" id="mDirector" class="form-control" placeholder="enter Director" type="text">
      </div>
    </div>

    <div class="form-group">
      <label for="mPlot">Description:</label>
      <div class="input-group">
        <textarea formControlName="Plot" id="mPlot" class="form-control"
                  placeholder="enter small description"></textarea>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-primary mr-1"
          [ngClass]="{'loading': isLoading}"
          (click)="saveData()"
          [disabled]="formMovie.invalid">{{ saveBtnText }}</button>
  <button type="button"
          class="btn btn-light"
          (click)="activeModal.dismiss()">Cancel
  </button>
</div>
