<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--<img class="logo-img" src="assets/img/logo_.svg" alt="Movies_app">-->
    </div>
    <div class="col-md-9">

      <div class="clearfix mt-5 mb-3">
        <!--<button class="btn btn-primary float-right" (click)="createUpdateMovie()">Add new movie</button>-->
        <!--<h4 class="mt-1 float-left text-danger text-uppercase"><b>Available movies:</b></h4>-->
      </div>

      <div class="row flex-row">
        <app-movie-item [movie]="movie"
                        *ngFor="let movie of movies$ | async"
                        (editMovie)="createUpdateMovie($event)"
                        (deleteMovie)="deleteMovie($event)"
                        (click)="showDetail(movie)"
                        class="col-lg-6 mb-3"></app-movie-item>
      </div>

    </div>
  </div>
</div>
